body {
    background: grey;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

#koko { 
    width:60%;
    background: black;
    margin: 20px auto;
    overflow: auto;
    padding: 25px
}

header {
    text-align: center;
    border-bottom: #fff dashed 1px;
}

header h1 {
    margin: 0;
    padding: 0;
    color: white;
}

header p {
    padding: 0;
    margin-top: 5px;
    color: white;
}

section {
    min-height: 400px;
    overflow: auto;
    margin-left: 727px;
}

input[type='submit'] {
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

#tulos h3 {
    background: grey;
    padding: 10px;
    margin: 10px 0;
}
